DATABASE_URL=postgresql+psycopg://USUARIO:CONTRASENA@localhost:5432/dharma_sales_db

GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID

AUTHORIZED_EMAILS=correo1@gmail.com,correo2@gmail.com

SESSION_SECRET=CAMBIAR_POR_UNA_CLAVE_SEGURA